﻿@page "/Productos"

<h3>Catalogo de Productos</h3>
<RadzenButton Text="Nuevo" Icon="add" ButtonStyle="ButtonStyle.Primary" Click="@(()=>Editar(new Producto()))"/>
<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false"
                FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5"
                AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left"
                ShowPagingSummary="true" Data="@productos" TItem="Producto"
                ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>
        <RadzenDataGridColumn TItem="Producto" Title="Id" Property="Id" Width="50px" />
        <RadzenDataGridColumn TItem="Producto" Title="Imagen" Width="100px">
            <Template Context="dato">
                <RadzenImage Path="@dato.UrlImagen" class="rz-gravatar" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Producto" Title="Nombre" Property="Nombre" />
        <RadzenDataGridColumn TItem="Producto" Title="Acciones" Width="100px" Filterable="false" Sortable="false">
            <Template Context="dato">
                <RadzenButton Icon="edit" Click="@(()=>Editar(dato))" ButtonStyle="ButtonStyle.Primary" />
                <RadzenButton Icon="delete" Click="@(()=>Eliminar(dato))" ButtonStyle="ButtonStyle.Danger" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    List<Producto> productos;
    ProductoManager productoManager;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        productoManager = FabricManager.ProductoManager();
        ActualizarTabla();
    }

    protected void ActualizarTabla()
    {
        productos = null;
        productos = productoManager.ObtenerTodos.ToList();
        StateHasChanged();
    }

    protected void Eliminar(Producto p)
    {
        productoManager.Eliminar(p.Id);
        ActualizarTabla();
    }


    protected async Task Editar(Producto p)
    {
        var titulo = p.Id == 0 ? "Nuevo " : "Editar ";
        var result = await DialogService.OpenAsync(titulo + "producto", ds =>
    @<RadzenStack Gap="1.5rem">
        <div class="row">
            <div class="col-4">Nombre:</div>
            <div class="col-8"><RadzenTextBox @bind-Value=p.Nombre class="w-100" /></div>
        </div>
        <div class="row">
            <div class="col-4">Url Imagen:</div>
            <div class="col-8"><RadzenTextBox @bind-Value=p.UrlImagen class="w-100" /></div>
        </div>
            <RadzenButton Text="Guardar" Click="(()=>Guardar(p))" ButtonStyle="ButtonStyle.Primary"/>    
            <RadzenButton Text="Cancelar" Click="()=>ds.Close(false)" ButtonStyle="ButtonStyle.Secondary"/>                                
        </RadzenStack>
    );

    }


    private void Guardar(Producto p)
    {
        var r = p.Id == 0 ? productoManager.Insertar(p) : productoManager.Actualizar(p);
        if (r == null)
        {
            DialogService.Alert(productoManager.Error, "Error:", new AlertOptions() { OkButtonText = "Yes" });
        }
        else
        {
            DialogService.Close();
            ActualizarTabla();
        }
    }
}
