﻿@page "/Almacenistas"

<h3>Catalogo de Almacenistas</h3>
<RadzenButton Text="Nuevo" Icon="add" ButtonStyle="ButtonStyle.Primary" Click="@(()=>Editar(new Almacenista()))" />
<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false"
                FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5"
                AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left"
                ShowPagingSummary="true" Data="@items" TItem="Almacenista"
                ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>
        <RadzenDataGridColumn TItem="Almacenista" Title="Id" Property="Id" Width="50px" />
        <RadzenDataGridColumn TItem="Almacenista" Title="Foto">
            <Template Context="dato">
                <RadzenImage Path="@dato.UrlImagen" class="rz-gravatar" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Almacenista" Title="Nombre" Property="Nombres" />
        <RadzenDataGridColumn TItem="Almacenista" Title="Apellidos" Property="Apellidos" />
        <RadzenDataGridColumn TItem="Almacenista" Title="Notas" Property="Notas" />
        <RadzenDataGridColumn TItem="Almacenista" Title="Acciones" Width="100px" Filterable="false" Sortable="false">
            <Template Context="dato">
                <RadzenButton Icon="edit" Click="@(()=>Editar(dato))" ButtonStyle="ButtonStyle.Primary" />
                <RadzenButton Icon="delete" Click="@(()=>Eliminar(dato))" ButtonStyle="ButtonStyle.Danger" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    List<Almacenista> items;
    AlmacenistaManager almacenistaManager;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        almacenistaManager = FabricManager.AlmacenistaManager();
        ActualizarTabla();
    }

    protected void ActualizarTabla()
    {
        items = null;
        items = almacenistaManager.ObtenerTodos.ToList();
        StateHasChanged();
    }

    protected void Eliminar(Almacenista item)
    {
        almacenistaManager.Eliminar(item.Id);
        ActualizarTabla();
    }


    protected async Task Editar(Almacenista item)
    {
        var titulo = item.Id == 0 ? "Nuevo " : "Editar ";
        var result = await DialogService.OpenAsync(titulo + "Almacenista", ds =>
    @<RadzenStack Gap="1.5rem">
        <div class="row">
            <div class="col-4">Nombres:</div>
            <div class="col-8"><RadzenTextBox @bind-Value=@item.Nombres class="w-100" /></div>
        </div>
        <div class="row">
            <div class="col-4">Apellidos:</div>
            <div class="col-8"><RadzenTextBox @bind-Value=item.Apellidos class="w-100" /></div>
        </div>
        <div class="row">
            <div class="col-4">URL Imagen:</div>
            <div class="col-8"><RadzenTextBox @bind-Value=item.UrlImagen class="w-100" /></div>
        </div>
        <div class="row">
            <div class="col-4">Contraseña:</div>
            <div class="col-8"><RadzenPassword @bind-Value=item.Password class="w-100" /></div>
        </div>
        <div class="row">
            <div class="col-4">Notas:</div>
            <div class="col-8"><RadzenTextBox @bind-Value=item.Notas class="w-100" /></div>
        </div>
        <RadzenButton Text="Guardar" Click="(()=>Guardar(item))" ButtonStyle="ButtonStyle.Primary" />
        <RadzenButton Text="Cancelar" Click="()=>ds.Close(false)" ButtonStyle="ButtonStyle.Secondary" />
    </RadzenStack>
    );

    }


    private void Guardar(Almacenista item)
    {
        var r = item.Id == 0 ? almacenistaManager.Insertar(item) : almacenistaManager.Actualizar(item);
        if (r == null)
        {
            DialogService.Alert(almacenistaManager.Error, "Error:", new AlertOptions() { OkButtonText = "OK" });
        }
        else
        {
            DialogService.Close();
            ActualizarTabla();
        }
    }
}
