﻿@page "/Almacenes"

<h3>Catalogo de Almacenes</h3>
<RadzenButton Text="Nuevo" Icon="add" ButtonStyle="ButtonStyle.Primary" Click="@(()=>Editar(new Almacen()))" />
<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false"
                FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5"
                AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left"
                ShowPagingSummary="true" Data="@items" TItem="Almacen"
                ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>
        <RadzenDataGridColumn TItem="Almacen" Title="Id" Property="Id" Width="50px" />
        <RadzenDataGridColumn TItem="Almacen" Title="Nombre" Property="Nombre" />
        <RadzenDataGridColumn TItem="Almacen" Title="Ubicación" Property="Ubicacion"/>
        <RadzenDataGridColumn TItem="Almacen" Title="Acciones" Width="100px" Filterable="false" Sortable="false">
            <Template Context="dato">
                <RadzenButton Icon="edit" Click="@(()=>Editar(dato))" ButtonStyle="ButtonStyle.Primary" />
                <RadzenButton Icon="delete" Click="@(()=>Eliminar(dato))" ButtonStyle="ButtonStyle.Danger" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    List<Almacen> items;
    AlmacenesManager almacenesManager;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        almacenesManager = FabricManager.AlmacenesManager();
        ActualizarTabla();
    }

    protected void ActualizarTabla()
    {
        items = null;
        items = almacenesManager.ObtenerTodos.ToList();
        StateHasChanged();
    }

    protected void Eliminar(Almacen item)
    {
        almacenesManager.Eliminar(item.Id);
        ActualizarTabla();
    }


    protected async Task Editar(Almacen item)
    {
        var titulo = item.Id == 0 ? "Nuevo " : "Editar ";
        var result = await DialogService.OpenAsync(titulo  + "Almacen", ds =>
    @<RadzenStack Gap="1.5rem">
        <div class="row">
            <div class="col-4">Nombre:</div>
            <div class="col-8"><RadzenTextBox @bind-Value=@item.Nombre class="w-100" /></div>
        </div>
        <div class="row">
            <div class="col-4">Ubicación:</div>
            <div class="col-8"><RadzenTextBox @bind-Value=item.Ubicacion class="w-100" /></div>
        </div>
        <RadzenButton Text="Guardar" Click="(()=>Guardar(item))" ButtonStyle="ButtonStyle.Primary" />
        <RadzenButton Text="Cancelar" Click="()=>ds.Close(false)" ButtonStyle="ButtonStyle.Secondary" />
    </RadzenStack>
    );

    }


    private void Guardar(Almacen item)
    {
        var r = item.Id == 0 ? almacenesManager.Insertar(item) : almacenesManager.Actualizar(item);
        if (r == null)
        {
            DialogService.Alert(almacenesManager.Error, "Error:", new AlertOptions() { OkButtonText = "OK" });
        }
        else
        {
            DialogService.Close();
            ActualizarTabla();
        }
    }
}
