﻿@page "/Reporte"

<h3>Catalogo de Almacenes</h3>

<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false"
                FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5"
                AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left"
                ShowPagingSummary="true" Data="@items" TItem="ReporteMovimientosModel"
                ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>
        <RadzenDataGridColumn TItem="ReporteMovimientosModel" Title="Id" Property="Id" Width="50px" />
        <RadzenDataGridColumn TItem="ReporteMovimientosModel" Title="Producto" Property="NombreProducto" />
        <RadzenDataGridColumn TItem="ReporteMovimientosModel" Title="Origen" Property="NombreAlmacenOrigen" />
        <RadzenDataGridColumn TItem="ReporteMovimientosModel" Title="Destino" Property="NombreAlmacenDestino" />
        <RadzenDataGridColumn TItem="ReporteMovimientosModel" Title="Almacenista" Property="NombreAlmacenista" />

    </Columns>
</RadzenDataGrid>

@code {
    List<ReporteMovimientosModel> items;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        items = FabricManager.MovimientoManager().ObtenerReporteDeMovimientos();
    }
}
